::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #1abc9c !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #1abc9c !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #1abc9c !important;;
  }