<nav class="navbar navbar-dark bg-dark justify-content-between">
	<a class="navbar-brand" (click)="openCars()">Sure Car</a>
	<div>
		<button mat-button (click)="openCart()">
			<mat-icon class="white-icon">shopping_basket</mat-icon>
			<div class="badge bg-danger">{{totalItem}}</div>
		</button>

		<button mat-button *ngIf="!isAuthorized" (click)="login()">
			<mat-icon class="white-icon">account_circle</mat-icon>
			Login
		</button>

		<button mat-button *ngIf="isAuthorized" (click)="openProfile()">
			{{currentUser.userName}}
		</button>
	</div>
</nav>