<div class="thumbnail">
    <div class="photo">
        <img src="../../../assets/car.png" alt="image">
    </div>

    <div class="information">
        <h2>{{vehicle.make}} {{vehicle.model}}</h2>
        <p class="font-weight-bold text-uppercase"> Added: {{vehicle.dateAdded | date:'dd.MM.yyyy'}}</p>
        <p>
            Warehouse: {{warehouse?.name}}
        </p>
        <p>
            Year Model: {{vehicle.yearModel}}
        </p>
        <p>
            Price: {{vehicle.price}} $
        </p>
        <div class="row">
                <button class="col" *ngIf="vehicle.licensed" mat-stroked-button (click)="openDetails()">Details</button>
                <button class="col" mat-stroked-button (click)="addToCart()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
        </div>
    </div>
</div>